<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreateProduit('produit')" class="p-button-success p-mr-2 p-mb-2"
                            icon="pi pi-plus" label="New" pButton
                            pRipple></button>
                    <button (click)="this.findByCriteriaShow = !this.findByCriteriaShow"
                            class="p-button-success p-mr-2 p-mb-2"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label="Search"
                            pButton
                            pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div *ngIf="findByCriteriaShow" class="">
                        <input [(ngModel)]="searchProduit.reference" autofocus class="p-mr-1" pInputText
                               placeholder="reference" type="text"/>
                        <p-inputNumber [(ngModel)]="searchProduit.prixMin"
                                       class="p-mr-2" placeholder="prixMin"></p-inputNumber>
                        <p-inputNumber [(ngModel)]="searchProduit.prixMax"
                                       class="p-mr-2" placeholder="prixMax"></p-inputNumber>
                        <p-inputNumber [(ngModel)]="searchProduit.qteStockMin"
                                       class="p-mr-2"
                                       placeholder="qteStockMin"></p-inputNumber>
                        <p-inputNumber [(ngModel)]="searchProduit.qteStockMax"
                                       class="p-mr-2"
                                       placeholder="qteStockMax"></p-inputNumber>
                        <p-calendar [(ngModel)]="searchProduitMin"
                                    class="p-mr-2" dateFormat="dd.mm.yy"
                                    placeholder="dateMin"></p-calendar>
                        <p-calendar [(ngModel)]="searchProduitMax"
                                    class="p-mr-2" dateFormat="dd.mm.yy"
                                    placeholder="dateMax"></p-calendar>
                        <p-inputNumber [(ngModel)]="searchProduit.prixUnitaireMin"
                                       class="p-mr-2"
                                       placeholder="prixUnitaireMin"></p-inputNumber>
                        <p-inputNumber [(ngModel)]="searchProduit.prixUnitaireMax"
                                       class="p-mr-2"
                                       placeholder="prixUnitaireMax"></p-inputNumber>
                        <button (click)="searchRequest()" class="p-button-info p-mr-2" icon="pi pi-sort-amount-down"
                                label="Submit"
                                pButton pRipple></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [(selection)]="selectedProduit" [columns]="cols"
                     [globalFilterFields]="['reference','total','totalPaye']" [paginator]="true"
                     [rowHover]="true" [rows]="4"
                     [showCurrentPageReport]="true" [value]="produits"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     dataKey="id"
                     styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Produits</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText placeholder="Search..." type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">id
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="reference">reference
                            <p-sortIcon field="reference"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prix">prix
                            <p-sortIcon field="prix"></p-sortIcon>
                        </th>
                        <th pSortableColumn="qteStock">qteStock
                            <p-sortIcon field="qteStock"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateAjout">dateAjout
                            <p-sortIcon field="dateAjout"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prixUnitaire">prixUnitaire
                            <p-sortIcon field="prixUnitaire"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-produit pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="produit"></p-tableCheckbox>
                        </td>
                        <td>{{produit.id }}
                        <td>{{produit.reference }}
                        <td>{{produit.prix }}
                        <td>{{produit.qteStock }}
                        <td>{{produit.dateAjout | date:'dd/MM/yyyy' }}</td>
                        <td>{{produit.prixUnitaire }}

                        <td>
                            <button (click)="editProduit(produit)" class="p-button-rounded p-button-success p-mr-2"
                                    icon="pi pi-pencil"
                                    pButton
                                    pRipple></button>
                            <button (click)="viewProduit(produit)" class="p-button-rounded p-button-info p-mr-2"
                                    icon="pi pi-list" pButton
                                    pRipple></button>
                            <button (click)="deleteProduit(produit)" class="p-button-rounded p-button-danger"
                                    icon="pi pi-trash" pButton
                                    pRipple></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total
                        there {{produits ? produits.length == 1 ? 'is' : 'are' : 'is' }} {{produits ? produits.length : 0 }} {{produits ? produits.length == 1 ? 'produit' : 'produits' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-produit-create></app-produit-create>
        <app-produit-edit></app-produit-edit>
        <app-produit-view></app-produit-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
